<mat-tab-group dynamicHeight=true>
  <mat-tab label="Set 1">
    <div class="col-xs-8"></div>
    <div class="col-xs-2 text-justify">
      <strong>Yes</strong>
    </div>
    <div class="col-xs-2 text-justify">
      <strong>&nbsp;&nbsp;No</strong>
    </div>
    <div *ngFor="let qa of questAndAns; let i=index;">
      <div *ngIf="i<6" class="row small">
        <div class="col-xs-8">
          <strong>{{qa.Question}}</strong>
        </div>
        <div class="col-xs-2">
          <label>
            <input class="radio" type="radio" name={{i}} id={{i}} value="1" (change)="radioChangeHandler($event)">
          </label>
        </div>
        <div class="col-xs-2">
          <label>
            <input class="radio" type="radio" name={{i}} id={{i}} value="0" (change)="radioChangeHandler($event)">
          </label>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Set 2">
    <div class="col-xs-8"></div>
    <div class="col-xs-2 text-justify">
      <strong>Yes</strong>
    </div>
    <div class="col-xs-2 text-justify">
      <strong>&nbsp;&nbsp;No</strong>
    </div>
    <div *ngFor="let qa of questAndAns; let i=index;">
      <div *ngIf="i>=6 && i < 12" class="row small">
        <div class="col-xs-8">
          <strong>{{qa.Question}}</strong>
        </div>
        <div class="col-xs-2">
          <label>
            <input class="radio" type="radio" name={{i}} id={{i}} value="1" (change)="radioChangeHandler($event)">
          </label>
        </div>
        <div class="col-xs-2">
          <label>
            <input class="radio" type="radio" name={{i}} id={{i}} value="0" (change)="radioChangeHandler($event)">
          </label>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Set 3">
    <div class="col-xs-8"></div>
    <div class="col-xs-2 text-justify">
      <strong>Yes</strong>
    </div>
    <div class="col-xs-2 text-justify">
      <strong>&nbsp;&nbsp;No</strong>
    </div>
    <div *ngFor="let qa of questAndAns; let i=index;">
      <div *ngIf="i>=12 && i < 18" class="row small">
        <div class="col-xs-8">
          <strong>{{qa.Question}}</strong>
        </div>
        <div class="col-xs-2">
          <label>
            <input class="radio" type="radio" name={{i}} id={{i}} value="1" (change)="radioChangeHandler($event)">
          </label>
        </div>
        <div class="col-xs-2">
          <label>
            <input class="radio" type="radio" name={{i}} id={{i}} value="0" (change)="radioChangeHandler($event)">
          </label>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Set 4">
    <div class="col-xs-8"></div>
    <div class="col-xs-2 text-justify">
      <strong>Yes</strong>
    </div>
    <div class="col-xs-2 text-justify">
      <strong>&nbsp;&nbsp;No</strong>
    </div>
    <div *ngFor="let qa of questAndAns; let i=index;">
      <div *ngIf="i>=18" class="row small">
        <div class="col-xs-8">
          <strong>{{qa.Question}}</strong>
        </div>
        <div class="col-xs-2">
          <label>
            <input class="radio" type="radio" name={{i}} id={{i}} value="1" (change)="radioChangeHandler($event)">
          </label>
        </div>
        <div class="col-xs-2">
          <label>
            <input class="radio" type="radio" name={{i}} id={{i}} value="0" (change)="radioChangeHandler($event)">
          </label>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<br/>
<div *ngIf="answeredQuestions === 23">
  <button class="btn btn-primary btn-xm pull-right" (click)="Evaluate()">Submit
  </button>
</div>
<br/><br/>
<div *ngIf="score >=0 && score <=2" class="alert alert-success">
  <strong>Total score is 0-2</strong> if child is younger than 24 months, screen again after second birthday. No further action required
  unless surveillance indicates risk for ASD
</div>
<div *ngIf="score >=3 && score <=7" class="alert alert-warning">
  <strong>Total Score is 3-7</strong> Administer the Follow-Up (second stage of M-CHAT-R/F) to get additional information about at-risk
  responses. If M-CHAT-R/F score remains at 2 or higher, the child has screened positive. Action required: refer child for
  diagnostic evaluation and eligibility evaluation for early intervention. If score on Follow-Up is 0-1, child has screened
  negative. No further action required unless surveillance indicates risk for ASD. Child should be rescreened at future well-child
  visits
</div>
<div *ngIf="score >=8 && score <=20" class="alert alert-danger">
  <strong>Total Score is 8-20</strong> It is acceptable to bypass the Follow-Up and refer immediately for diagnostic evaluation and
  eligibility evaluation for early intervention
</div>
