<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" (click)="ToggleQuestions()">M-CHAT Screening </a>
    </h4>
    <div id="QAForm" *ngIf="showQuestions===1" class="panel-collapse">
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Yes</th>
              <th>No</th>
            </tr>
          </thead>
          <tbody class="medium">
            <tr *ngFor="let qa of questAndAns; let i=index;">
              <td>
                <div class="row">
                  <div class="col-xs-1">
                    <h5 class="blue-circle">{{i+1}}</h5>
                  </div>
                  <div class="col-xs-11">
                    <strong class="vcenter">{{qa.Question}}</strong>
                  </div>
                </div>
              </td>
              <td>
                <label>
                  <input class="radio" type="radio" name={{i}} id={{i}} value="1" [checked]="qa.ResponseAnswer===1" (change)="radioChangeHandler($event)">
                </label>
              </td>
              <td>
                <label>
                  <input class="radio" type="radio" name={{i}} id={{i}} value="0" [checked]="qa.ResponseAnswer===0" (change)="radioChangeHandler($event)">
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button [disabled]="answeredQuestions !== 23" class="btn btn-primary btn-xm pull-right" (click)="Evaluate()">Submit
      </button>
      &nbsp;
      <button class="btn btn-warning btn-xm" (click)="clearInput()">Clear
      </button>
      &nbsp;
      <br/>
      <br/>
      <div *ngIf="score >=0 && score <=2" class="alert alert-success">
        <strong>Total score is 0-2</strong> if child is younger than 24 months, screen again after second birthday. No further action
        required unless surveillance indicates risk for ASD
      </div>
      <div *ngIf="score >=3 && score <=7" class="alert alert-warning">
        <strong>Total Score is 3-7</strong> Administer the Follow-Up (second stage of M-CHAT-R/F) to get additional information about
        at-risk responses. If M-CHAT-R/F score remains at 2 or higher, the child has screened positive. Action required:
        refer child for diagnostic evaluation and eligibility evaluation for early intervention. If score on Follow-Up is
        0-1, child has screened negative. No further action required unless surveillance indicates risk for ASD. Child should
        be rescreened at future well-child visits
      </div>
      <div *ngIf="score >=8 && score <=20" class="alert alert-danger">
        <strong>Total Score is 8-20</strong> It is acceptable to bypass the Follow-Up and refer immediately for diagnostic evaluation
        and eligibility evaluation for early intervention
      </div>
    </div>
  </div>
</div>
